[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "meme_token/lib/forge-std"]
	path = meme_token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
